extends layout
block scripts
  script(src="/javascripts/input_case.js")
block content
  -var apt_phase = ["Reconnaissance_phase", "Delivery_phase", "Initial_intrusion_phase", "Connecting_to_server_phase", "Lateral_movement_phase", "Information_gathering_phase", "Completing_the_attack_phase"];
  div(id = 'input-elements-body')
    div(id = 'select-elements')
      h2 공격 케이스 추가
      label(for = 'select-stage') APT Stage : 
      select(id = 'selected-Stage')
        option(value = "", disabled, selected = "true") -
        each phase in apt_phase
          if lists_1 !== null
            if lists_1[0] == phase
              option(value = phase, selected = "true") #{phase}
            else
              option(value = phase) #{phase}  
          else
            option(value = phase) #{phase}
      label(for = 'select-elements') APT elements : 
      select(id = 'selected-elements')
        option(value = "", disabled, selected = "true") - 
        if lists_1 !== null
          -for(var i = 1; i < lists_1.length; i++){
              if lists_2 !== null
                if lists_2[0] == lists_1[i]
                  option(value = lists_1[i], selected = "true") #{lists_1[i]}
                else
                  option(value = lists_1[i]) #{lists_1[i]}
              else
                option(value = lists_1[i]) #{lists_1[i]}             
          -}        
      label(for = 'select-sub-elements') APT sub-elements : 
      select(id = 'selected-sub-elements')
         option(value = "", disabled, selected = "true") - 
         if lists_2 !== null
           -for(var i = 1; i < lists_2.length; i++){
              option(value = lists_2[i]) #{lists_2[i]}
           -}
      input(type = 'button', id = 'add_btn', value = 'case 추가')
    div(id = 'selected-elements-case')
      h3 입력된 공격 케이스들      
        table(id = 'selected-elements-table')
          thead
            tr
              th APT Stage
              th APT element
              th APT sub-element
              th 입력 취소
          tbody
        button(onclick = "inputCase()") 케이스추가
  
